@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root{
  --pageBackColor:#5CABE2;
  --mainColor:rgba(44, 106, 203, 1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  scroll-behavior: smooth;
}


